h3{
	/*text-align: center;*/
	/*padding: 20px;*/
	color: #676a81;
}

a{
	-webkit-transition: 0.3s linear; 
    -moz-transition: 0.3s linear; 
    -ms-transition: 0.3s linear; 
    -o-transition: 0.3s linear; 
    transition: 0.3s linear;
    font-family: 'Poppins', sans-serif !important;
}

i{
	/*color: #FFD433;
	color: rgb(212,244,12);*/
	color: #424242;
}

img {
	/*margin-top: 3vh;*/
	margin-bottom: 3vh;
}

iframe {
	margin: 0 auto;
	display:block;
}

/*-------------------------------------
        Portfolio page styles
--------------------------------------*/

.portfolio {
    padding:  50px 20px 100px;
    border:  1px solid #e5ebf2;
    /*text-align: center;*/
}

/*-------------------------------------
        Header
--------------------------------------*/
.section-heading h2 {
	color: #5884C6;
    font-size: 30px;
    font-weight: 600;
    text-transform: uppercase;
    padding-bottom: 95px;
    border-bottom: 1px solid #e5ebf2;
    margin-left: 5vw;
    margin-right: 2vw;
}

#time {
	margin-top: -82px;
	font-size: 18px;
	
}

#keyword {
	margin-top: 5px;
	margin-bottom: 10px;
	font-size: 15px;
	color: #888;
}

/*-------------------------------------
        Summary & Highlight
--------------------------------------*/

.heading h3 {
	text-align: center;
	color: #5884C6;
    font-size: 26px;
    font-weight: 600;
    text-transform: uppercase;
    /*margin-left: 5vw;*/
    margin-right: 2vw;
    margin-top: 5vh;
    margin-bottom: 3vh;
}

.summary p {
	font-size: 1.5rem;
}

.ppage{
	margin-top: 100px;
}

.highlight{
	margin-left: 6vw;
	text-align: left;
	/*margin-top: -10px;*/
}


.highlight > .row-summary {
	display: flex;
	/*align-items: center;*/
}

@media screen and (max-width:992px) {
	.highlight{
		margin-left: 10vw;
	}
	
}

@media screen and (max-width:1200px) {
	.highlight > .row-summary {
		display: block;
	}
}

.highlight h3 {
	margin-top: 3vh;
	text-align: left;
	font-size: 2.2rem;
	color: #5884C6;
}

.highlight p {
	margin-left: 3vw;
	margin-right: 1vw;
}

.highlightC{
	margin: 2vw;
}

.highlight-img {
	/*margin-top: 3vw;*/
	margin-right: 7vw;
	/*margin-bottom: 3vw;*/
}
@media screen and (max-width:1200px) {
	.highlight-img{
		margin-left: 3vw;
	}
}

.method ul, .method li, .role  ul, .role  li {
	margin-left: 3vw;
	margin-right: 1vw;
	color:#43485c;
	font-size:14px;
	font-family: 'Poppins', sans-serif;
}

/*-------------------------------------
        Outline
--------------------------------------*/

a:hover{
	color: #5884C6;
}

.active > a{
	padding-left: 4px;
	color: #5884C6;
}

#outline{
	padding-left: 0px ;
	background-color: #efefef;
	float: left;
	position: fixed;
	margin-left: 1vw;
	margin-top: 100px;
	border-radius: 5px;
}

@media screen and (max-width:768px) {
	#outline{
		margin-left: 0;
	}
	#outline a {
		font-size: 8px;
	}
}


/*-------------------------------------
        Main Content
--------------------------------------*/

.describe{
	padding-top: 4vh;
	padding-left: 11vw;
	padding-right: 10vw;
}

.describe > h2,img{
	text-align: center;
	
}

.describe h2{
	text-align: center;
	color: #5884C6;
    font-size: 26px;
    font-weight: 600;
    text-transform: uppercase;
    margin-left: 1vw;
    margin-right: 2vw;
    margin-top: 5vh;
    margin-bottom: 8vh;
}

.describe h3{
	padding: 10px 0px;
	text-align: left;
	font-size: 22px;
	margin-top: 5vh;
    /*margin-bottom: 2vh;*/
	color: #5884C6;

}

.describe h4 {
	/*margin-left: 1.8vw;*/
	font-size: 19px;
	color: #9292a0;
}

.describe h5 {
	margin-top: 2vh;
	margin-bottom: 2vh;
}

.describe li{
	color:#43485c;
	font-size:14px;
	font-family: 'Poppins', sans-serif;
}

.describe .row {
	margin-right: 5vw; 	
}

.align-items-center {
	display: flex;
	align-items: center;
	text-align: center;
}

@media screen and (max-width:992px) {
	.describe .row {
		display: block;
	}
}

.topic {
	text-align: center;
}

.step {
	/*max-height: 130px;*/
}

.step_topic {
	text-align: center;
	display: flex;
	align-items: flex-start !important;
}

.step_topic p {
	text-align: center;
}

#Challenge {
	text-align: center;
	padding-bottom: 5vw;
	background-color: rgba(233, 233, 236, 0.5);
}

#Challenge p {
	/*font-family: 'Helvetica';*/
	color: #555562;
	font-size: 1.8rem;
	margin: 1vh 10vw 5vh 10vw;
	font-weight: 500;
}

#Challenge span {
	color: #f15025;
	font-size: 2.1rem;
	font-weight: 600;
}


.key {
	width: 100vw;
	margin-left: -11vw;
	padding-left: 11vw;
	padding-right: -10vw;
	padding-bottom: 5vh;
	background-color: #dcedff;
}

.key h4 {
	margin-left: -80px;
	color: black;
	text-align: center;
	padding-top: 5vh;
	padding-bottom: 5vh;
	font-weight: 600;
	font-size: 2.2rem;
}

.key h5 {
	margin-top: -1vh;
}

/*-------------------------------------
        Slideshow / Carousel
--------------------------------------*/
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides, .mySlides2 {
  display: none;
}

.mySlides img {
	/*width:100%; */
	height: 180px;
}

@media screen and (max-width:1200px){
	.mySlides img {
		/*width:100%; */
		height: 150px;
	}
}


/* Next & previous buttons */
.prev, .next {
  background-color: rgba(0,0,0,0.3);
  cursor: pointer;
  position: absolute;
  top: 35%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.prev {
	left: 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
  padding: 16px !important;
}

/* Caption text */
.text {
  color: #333;
  font-size: 1.3rem;
  padding: 8px 12px;
  /*position: absolute;*/
  bottom: -20px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #888;
  font-size: 1.2rem;
  padding: 1px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot, .dot2 {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.slide_active, .dot:hover {
  background-color: #717171;
}


/*-------------------------------------
        Other Page Button
--------------------------------------*/

#previous{
	float: left;
	margin-left: 150px;
}

#next{
	float: right;
	margin-right: 150px;
}

/*-------------------------------------
        Click Picture for enlarge 
--------------------------------------*/

.pmax{width:80%;height:auto; cursor: pointer;}
.pmin{width:200px;height:auto; cursor: pointer;}