h3{
	/*text-align: center;*/
	padding: 20px;
	color: #676a81;
}

a{
	-webkit-transition: 0.3s linear; 
    -moz-transition: 0.3s linear; 
    -ms-transition: 0.3s linear; 
    -o-transition: 0.3s linear; 
    transition: 0.3s linear;
    font-family: 'Poppins', sans-serif !important;
}

i{
	/*color: #FFD433;
	color: rgb(212,244,12);*/
	color: #424242;
}

img {
	margin-top: 3vh;
	margin-bottom: 3vh;
}

/*-------------------------------------
        Portfolio page styles
--------------------------------------*/

.portfolio {
    padding:  50px 20px 100px;
    border:  1px solid #e5ebf2;
    /*text-align: center;*/
}

/*-------------------------------------
        Header
--------------------------------------*/
.section-heading h2 {
	color: #5884C6;
    font-size: 26px;
    font-weight: 600;
    text-transform: uppercase;
    padding-bottom: 95px;
    border-bottom: 1px solid #e5ebf2;
    margin-left: 5vw;
    margin-right: 2vw;
}

#time {
	margin-top: -82px;
	font-size: 18px;
	
}

#keyword {
	margin-top: 5px;
	margin-bottom: 10px;
	font-size: 15px;
	color: #888;
}

/*-------------------------------------
        Summary & Highlight
--------------------------------------*/

.ppage{
	margin-top: 100px;
}

.highlight{
	margin-left: 6vw;
	text-align: left;
	/*margin-top: -10px;*/
}


.highlight .row {
	display: flex;
	align-items: center;
}

@media screen and (max-width:992px) {
	.highlight{
		margin-left: 10vw;
	}
	
}

@media screen and (max-width:1200px) {
	.highlight .row {
		display: block;
	}
}

.highlight h3 {
	text-align: left;
	font-size: 2.2rem;
	color: #5884C6;
}

.highlight p {
	margin-left: 3vw;
	margin-right: 1vw;
}

.highlightC{
	margin: 2vw;
}

.highlight-img {
	margin-top: 3vw;
	margin-right: 7vw;
	margin-bottom: 3vw;
}
@media screen and (max-width:1200px) {
	.highlight-img{
		margin-left: 3vw;
	}
}

.method ul, .method li, .role  ul, .role  li {
	margin-left: 3vw;
	margin-right: 1vw;
	color:#43485c;
	font-size:14px;
	font-family: 'Poppins', sans-serif;
}

/*-------------------------------------
        Outline
--------------------------------------*/

a:hover{
	color: #5884C6;
}

.active > a{
	padding-left: 4px;
	color: #5884C6;
}

#outline{
	padding-left: 0px ;
	background-color: #efefef;
	float: left;
	position: fixed;
	margin-left: 1vw;
	margin-top: 100px;
	border-radius: 5px;
}

@media screen and (max-width:768px) {
	#outline{
		margin-left: 0;
	}
	#outline a {
		font-size: 8px;
	}
}


/*-------------------------------------
        Main Content
--------------------------------------*/

.describe{
	padding-top: 10vh;
	margin-left: 11vw;
	margin-right: 10vw;
}

.describe > h2,img{
	text-align: center;
	
}

.describe h2{
	margin-bottom: 20px;
	font-size: 23px;
	color: #5884C6;
}

.describe h3{
	text-align: left;
	margin-left: -20px;
	font-size: 18px;
	margin-top: -20px;
	color: #5884C6;

}

.describe p{
	text-align: left;
	font-size: 14px;
	margin-bottom: 15px;
}

.describe li{
	color:#43485c;
	font-size:14px;
	font-family: 'Poppins', sans-serif;
}

.describe .row {
	display: flex;
	align-items: center;
	text-align: center;
	margin-right: 5vw; 
	
}

@media screen and (max-width:992px) {
	.describe .row {
		display: block;
	}
}


/*-------------------------------------
        Other Page Button
--------------------------------------*/

#previous{
	float: left;
	margin-left: 150px;
}

#next{
	float: right;
	margin-right: 150px;
}

/*-------------------------------------
        Click Picture for enlarge 
--------------------------------------*/

.pmax{width:80%;height:auto; cursor: pointer;}
.pmin{width:200px;height:auto; cursor: pointer;}